<header class="row text-center header">
  {{ with .Site.Params.authorimage }} <img src="/img/{{ . }}" alt="Author Image" class="header-logo text-center"> {{ end }}
  <h1 class="author">{{ .Site.Params.author }}</h1>
</header>
