<section id="info-pane" class="row text-center info">
  {{ with .Site.Params.intro }}
  <h3 class="intro">{{ . | markdownify }}</h3>
  {{ end }}
  {{ with .Site.Params.description | emojify}}
  <h4 class="description">{{ . | markdownify }}</h4>
  {{ end }}
</section>
